<article
  class="header-sign animate__animated"
  [ngClass]="{ animate__fadeIn: !transition, animate__fadeOutUp: transition }"
>
  <p>Asistencia de Empleados</p>
</article>

<section class="lista-empleados">
  <p class="assistence">
    {{ employes?.length }} Empleados confirmaron su asistencia
  </p>

  <canvas id="canvas"></canvas>

  <button
    class="btn-access animate__animated animate__fadeIn"
    (click)="start()"
  >
    Empezar Sorteo
  </button>

  <div class="covered-text" id="button">
    {{ covered }}
  </div>

  <article class="list">
    @for (item of employes; track $index) {
    <li>
      <img src="../../../assets/icons/assistence.png" alt="point" />
      {{ item.codigoEmpleado }}
    </li>
    }
  </article>
</section>
