<article
  class="header-sign animate__animated"
  [ngClass]="{ animate__fadeIn: !transition, animate__fadeOutUp: transition }"
>
  <p>Asistencia de Empleados</p>
</article>

<section class="lista-empleados">
  <p class="assistence">
    {{ employes?.length }} Empleados confirmaron su asistencia
  </p>

  <canvas id="canvas"></canvas>

  <button
    class="btn-access animate__animated animate__fadeIn"
    (click)="start()"
    [disabled]="!lottery"
  >
    Empezar Sorteo
  </button>

  <div
    class="covered-text animate__animated animate__pulse animate__infinite"
    id="button"
  >
    {{ covered }}
  </div>

  <div
    class="list-text animate__animated animate__fadeIn"
    *ngIf="listWinners.length != 0"
    (click)="openDialog()"
  >
    Ver lista de Ganadores
  </div>

  <article class="list">
    @for (item of employes; track $index) {
    <li>
      <img src="../../../assets/icons/assistence.png" alt="point" />
      {{ item.codigoEmpleado }}
    </li>
    }
  </article>
</section>
