
$BBVA-Navy: #072146;
$BBVA-Core-Dark-Blue: #043263;
$BBVA-Core-Blue: #004481;
$BBVA-Core-Light-Blue: #1464A5;
$BBVA-Medium-Blue: #1973B8;
$BBVA-Medium-Light-Blue: #49A5E6;
$BBVA-Light-Blue: #5BBEFF;
$BBVA-White-Light-Blue: #D4EDFC;
$BBVA-Aqua: #2DCCCD;
$BBVA-Darkest-Aqua: #006C6C;
$BBVA-Dark-Aqua: #028484;
$BBVA-Medium-Aqua: #02A5A5;
$BBVA-Light-Aqua: #5AC4C4;
$BBVA-White-Aqua: #EAF9FA;

/* Secondary Colors */

$BBVA-600: #121212;
$BBVA-500: #666666;
$BBVA-400: #BDBDBD;
$BBVA-300: #D3D3D3;
$BBVA-200: #E9E9E9;
$BBVA-100: #F4F4F4;
$BBVA-White: #FFFFFF;

/* Cool Grey - Exclusive for Dark mode */
$BBVA-Cool-Grey-100: #050B0F;
$BBVA-Cool-Grey-90: #091016;
$BBVA-Cool-Grey-80: #0E1A25;
$BBVA-Cool-Grey-70: #132330;
$BBVA-Cool-Grey-70: #1D303D;
$BBVA-Cool-Grey-50: #2E4452;
$BBVA-Cool-Grey-40: #4D6572;
$BBVA-Cool-Grey-30: #778892;
$BBVA-Cool-Grey-20: #ABB6BC;
$BBVA-Cool-Grey-10: #E6EAEB;